/episode_2/node_modules
/episode_2/.parcel-cache
/episode_2/dist
/episode_3/node_modules
/episode_3/.parcel-cache
/episode_3/dist
/episode_4/node_modules
/episode_4/.parcel-cache
/episode_4/dist
/episode_5/node_modules
/episode_5/.parcel-cache
/episode_5/dist
/episode_6/node_modules
/episode_6/.parcel-cache
/episode_6/dist
/project/
/episode_8/node_modules
/episode_8/.parcel-cache
/episode_8/dist
