.header {
  display: flex;
  justify-content: space-between;
  border: solid 2px;
  padding: 5px;
  margin: 5px;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  gap: 10px;
}

.logo-img {
  width: 100px;
  border: solid 1px blanchedalmond;
}

.nav-items {
  display: flex;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  padding: 0px 2px;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  gap: 10px;
}

.nav-items > ul > li {
  margin: 12px;
  padding: 12px;
  font-size: large;
}

/* card */
.hero-section {
  padding: 10px;
  margin: 10px;
}

.hero-section-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.search-section {
  display: flex;
  gap: 10px;
}

.hero-section-card {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  gap: 10px;
}

.resta-container {
  border: solid 2px;
  margin: 3px;
  padding: 3px;
  width: 220px;
  height: 305px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  gap: 10px;
  padding: 20px;
}

.shimmer-card {
  margin: 3px;
  padding: 3px;
  width: 220px;
  height: 305px;
  background-color: gray;
}

.card-main > h4 {
  text-align: center;
}

.food-img {
  width: 220px;
  height: 120px;
  border: solid 1px blanchedalmond;
}

.card-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-details > h4 {
  padding: 5px;
  margin: 5px;
}

/* btn */
.log-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.log-btn > div {
  width: 20px;
  height: 5px;
  padding: 5px;
  margin: 2px;
}
